body{
  background-color: rgb(174, 255, 255);
}
.time-set{
    display: grid;
    grid-template-columns: 50px 200px 50px;
    justify-items: center;
    align-items: center;
}

.dual-container{
  display: grid;
  grid-template-columns: 50vw 50vw;
  margin: auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  
}
#id{
  border: 3px solid black;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
}

#session-label, #break-label{
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

#title{
  font-weight: 900;
}
.btn-large{
  border-radius: 50px;
  margin: 10px;
}
